/** @format */

* {
	box-sizing: border-box;
}
ul {
	padding-inline-start: 0;
	list-style: none;
}
.post-card {
	/* box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2); */
	border-bottom: 2px solid var(--medium-gray-color);
	/* border-top: 1px solid var(--black-color); */
}
.post-card,
.individual-post {
	width: 600px;
	border-radius: 0px;
	padding: 0px 20px 20px 5px;
	margin: auto;
	text-align: left;
	list-style: none;
	position: relative;
}
.post-card .post-image {
	width: 300px;
	margin: 10px auto;
	border-radius: 5px;
}
.individual-post .post-image {
	width: 400px;
	margin: 10px auto;
	border-radius: 5px;
}

.post-card-content-container .post-image img {
	margin: auto;
	width: 100%;
	max-height: 50%;
	border-radius: 5px;
}
/* .top-order{
	display: flex;
	align-items: center;
} */
.post-card-names {
	position: absolute;
	top: 16px;
	left: 50px;
}
.post-card-names b {
	font-size: 18px;
	color: #333333;
	font-weight: 700;
}
.post-card-names p {
	font-size: 14px;
	color: #555555;
	font-weight: 500;
	margin-top: -2px;
}
.post-card-profile-pic {
	max-width: 35px;
	border-radius: 50%;
	position: relative;
}
.post-card-profile-pic img {
	width: 35px;
	height: 35px;
	object-fit: cover;
	object-position: 50% 50%;
	border-radius: 50%;
}
.post-card-text-content p {
	font-size: 18px;
	font-weight: 400;
	color: #222222;
}
.post-card-content-container {
	padding-left: 50px;
	margin-top: -10px;
}
.options-button {
	position: absolute;
	top: 15px;
	right: 15px;
}
.options-button button,
.close-options-button button {
	font-size: 1.5rem;
	color: var(--main-color);
	border: none;
	background-color: white;
	padding: 5px;
	/* transition: 0.1s; */
	transition: 0.3s;
}
.options-button button:hover {
	border-radius: 25%;
	color: white;
	background-color: var(--main-color);
	padding: 5px;
}
.options-button button:active {
	background-color: var(--secondary-color);
}

.options-section {
	text-align: right;
	transition: 0.5s;
	
}
.options-container {
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.4);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	z-index: 5;
	box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
	padding: 10px;
	/* background-color: white; */
	position: absolute;
	top: 10px;
	right: 10px;
}
.single-option-button {
	text-align: left;
}
.single-option-button button {
	font-size: 1rem;
	padding: 5px;
	margin-top: 5px;
	border-radius: 5px;
	border: none;
	background-color: var(--main-color);
	color: white;
	font-weight: 600;
	transition: 0.7s;
}
.single-option-button button:hover {
	background-color: var(--secondary-color);
}
.like-and-bookmark-button {
	padding: 10px 10px 10px 0;
	display: flex;
	gap: 1rem;
}
.bookmark-button button,
.like-button button {
	font-size: 1.2rem;
	background-color: white;
	border: none;
}
.bookmark-button button {
	color: green;
}
.like-button button {
	color: var(--main-color);
}
