/** @format */

* {
	box-sizing: border-box;
}
ul {
	padding-inline-start: 0;
}
.post-card {
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.post-card,
.individual-post {
	width: 500px;
	border-radius: 10px;
	padding: 20px;
	margin: 20px auto;
	text-align: left;
	list-style: none;
	position: relative;
}
.post-card .post-image {
	width: 300px;
	margin: auto;
	border-radius: 5px;
}
.individual-post .post-image {
	width: 400px;
	margin: auto;
	border-radius: 5px;
}
.post-card-content-container.post-image img,
.post-card-content-container .post-image img {
	margin: auto;
	width: 100%;
	max-height: 50%;
	border-radius: 5px;
}
.post-card-names {
	position: absolute;
	top: 16px;
	left: 50px;
}
.post-card-names b {
	font-size: 18px;
	color: #333333;
	font-weight: 700;
}
.post-card-names p {
	font-size: 14px;
	color: #555555;
	font-weight: 500;
	margin-top: -2px;
}
.post-card-profile-pic {
	max-width: 35px;
	border-radius: 50%;
	position: relative;
}
.post-card-profile-pic img {
	width: 35px;
	height: 35px;
	object-fit: cover;
	object-position: 50% 50%;
	border-radius: 50%;
}
.post-card-text-content p {
	font-size: 18px;
	font-weight: 400;
	color: #222222;
}
.post-card-content-container {
	padding-left: 50px;
	margin-top: -10px;
}
