/** @format */

* {
	box-sizing: border-box;
}
:root {
	--main-color: #ff3b30;
	--secondary-color: #820600;
	--black-color: #333333;
	--medium-gray-color: #cec5c5;
	--gray-color: #888888;
	--light-gray-color: rgb(241, 241, 241);
}
html {
	scroll-snap-type: y mandatory;
}
.loader-component{
	position: absolute;
	margin: auto;
}
.intro-card,
.login-signup-card {
	scroll-snap-align: start;
	height: 100vh;
}
.login-signup-card {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* align-self: center; */
	justify-content: flex-start;
}
.login-page {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.login-page .intro-card {
	margin-top: 1rem;
	padding: 20px;
	text-align: left;
}
.connectopia-name-header h1 {
	font-size: 2.5rem;
	color: var(--black-color);
	font-weight: 700;
	/* width: 90%; */
}
.connectopia-name-header h1 span {
	color: var(--main-color);
	/* font-size: 2.2rem; */
	padding: 2px;
}
.login-page section {
	margin-top: 10%;
}
.login-page div section p {
	font-size: 0.7rem;
	font-weight: 500;
	color: var(--black-color);
	text-transform: uppercase;
}
.login-page div section p span {
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--gray-color);
}
.landing-page-logo-container {
	margin-top: 1rem;
	width: 90%;
}
.landing-page-logo-container img {
	width: 90%;
}
.landing-page-join-now {
	margin: 1rem auto;
	text-align: center;
}
.landing-page-join-now {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: var(--main-color);
	border: none;
	padding: 10px;
	border-radius: 20px;
	font-weight: 700;
}
.login-signup-card {
	background-color: var(--light-gray-color);
}
/* .login-signup-card div:first-child {
	background-color: white;
	width: 80%;
	margin: auto;
	border-radius: 20px; */
/* text-align: center; */
/* border: 1px solid; */
/* display: flex; */
/* flex-direction: column; */
/* } */
.landing-page-join-now::after {
	position: relative;
	/* top: 2.5rem;
	right: 6.5rem; */
	content: "\a\2193\2193";
	font-size: 2rem;
	font-weight: 900;
}
/* .landing-page-join-now::before {
	content: "\2193\2193\2193\a";
	font-size: 40px;
	font-weight: 900;
} */

@media screen and (min-width: 650px) {
	html {
		scroll-snap-type: y mandatory;
	}
	.intro-card,
	.login-signup-card {
		scroll-snap-align: start;
		height: 100vh;
	}
	.login-signup-card {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-content: flex-start;
	}
	.login-page {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	.login-page .intro-card {
		margin-top: 1rem;
		padding: 20px;
		text-align: left;
	}
	.connectopia-name-header h1 {
		font-size: 3rem;
		color: var(--black-color);
		font-weight: 700;
		/* width: 90%; */
	}
	.connectopia-name-header h1 span {
		color: var(--main-color);
		/* font-size: 2.2rem; */
		padding: 2px;
	}
	.login-page section {
		margin-top: 5%;
	}
	.login-page div section p {
		font-size: 1rem;
		font-weight: 500;
		color: var(--black-color);
		text-transform: uppercase;
	}
	.login-page div section p span {
		font-size: 2rem;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--gray-color);
	}
	.landing-page-logo-container {
		margin-top: 2rem;
		width: 90%;
	}
	.landing-page-logo-container img {
		width: 80%;
	}
	.landing-page-join-now {
		margin: 1rem auto;
		text-align: center;
	}
	.landing-page-join-now {
		font-size: 2rem;
		text-transform: uppercase;
		color: var(--main-color);
		border: none;
		padding: 10px;
		border-radius: 20px;
		font-weight: 700;
	}
}

@media screen and (min-width: 1028px) {
	* {
		box-sizing: border-box;
	}
	html {
		scroll-snap-type: y mandatory;
	}
	.intro-card {
		/* scroll-snap-align: none; */
		height: 90vh;
	}
	.login-signup-card {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-content: center;
		background-color: var(--light-gray-color);
		width: 80%;
		margin: auto;
		border-radius: 20px;
	}
	.login-page {
		/* margin: 2rem; */
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.login-page .intro-card {
		margin-top: 0.5rem;
		padding: 2rem;
		text-align: left;
	}
	.connectopia-name-header h1 {
		font-size: 3rem;
		color: var(--black-color);
		font-weight: 700;
		/* width: 90%; */
	}
	.connectopia-name-header h1 span {
		color: var(--main-color);
		/* font-size: 2.2rem; */
		padding: 2px;
	}
	.login-page section {
		margin-top: 5%;
	}
	.login-page div section p {
		font-size: 1rem;
		font-weight: 500;
		color: var(--black-color);
		text-transform: uppercase;
	}
	.login-page div section p span {
		font-size: 2rem;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--gray-color);
	}
	.landing-page-logo-container {
		margin-top: 1rem;
		width: 70%;
	}
	.landing-page-logo-container img {
		width: 80%;
	}
	.landing-page-join-now {
		margin: 2rem auto;
		text-align: center;
	}
	.landing-page-join-now {
		font-size: 2rem;
		text-transform: uppercase;
		color: var(--main-color);
		border: none;
		padding: 10px;
		border-radius: 20px;
		font-weight: 700;
	}
	.landing-page-join-now::after {
		content: "";
		font-size: 40px;
		font-weight: 900;
	}
	.landing-page-join-now::before {
		content: "";
		font-size: 40px;
		font-weight: 900;
	}
}
