/** @format */

* {
	box-sizing: border-box;
}

.bookmarks-page {
	width: 100%;
	margin: auto;
	position: relative;
	list-style: none;
}
.bookmarks-page ul {
	position: relative;
	list-style: none;
}
.empty-bookmarks-text {
	color: var(--main-color);
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.empty-bookmarks-text h2 {
	text-transform: capitalize;
}
