/** @format */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.suggested-users-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 90%;
	padding: 20px;
	/* float: left; */
	/* border: 1px solid; */
	height: 100vh;
	background-color: var(--light-gray-color);
}
.suggested-users-card div {
	width: 100%;
}
.suggested-users-section {
	margin-top: 40px;
}
.suggested-users-card .search-users-section div input[type="search"] {
	width: 250px;
	padding: 10px;
	font-size: 1.2rem;
	border: 1px solid var(--medium-gray-color);
	border-radius: 15px;
	color: var(--main-color);
}
.suggested-users-card .search-users-section div:nth-of-type(1) {
	text-align: left;
}
.users-search-results-section {
	list-style: none;
}
.users-search-results-section ul {
	/* border: 1px solid; */
	background-color: white;
	width: 300px;
	/* border: 2px solid var(--gray-color); */
}
.users-search-results-section ul li,
.suggested-users-section ul li {
	border: 2px solid var(--gray-color);
	margin: 5px 0 0 0;
	padding: 10px;
	position: relative;
	text-align: left;
	background-color: white;
	width: 300px;
	border-radius: 10px;
}

.suggested-users-section ul li {
	width: 300px;
	position: relative;
}
.users-search-results-section ul li div:nth-of-type(1),
.suggested-users-section ul li div:nth-of-type(1) {
	margin-left: -5px;
}
.suggested-users-card .follow-btn {
	position: relative;
	/* float: right; */
	text-align: right;
	margin-top: -20px;
	/* left: 220px; */
}
.follow-btn button {
	color: var(--main-color);
	background-color: white;
	border: 1px solid var(--main-color);
	border-radius: 5px;
	padding: 2px 5px;
	transition: 0.5s;
}
.follow-btn button:hover {
	transform: scale(1.1);
	background-color: var(--main-color);
	color: white;
}
.suggested-users-section div {
	text-align: left;
}
.suggested-users-section b,
.suggested-users-card b {
	margin: 20px 0 0 0;
	font-size: 1.3rem;
}
