/** @format */

* {
	box-sizing: border-box;
}

.post-card-profile-names {
	position: absolute;
	top: 15px;
	left: 70px;
}
.post-card-profile-names b {
	font-size: 18px;
	color: #333333;
	font-weight: 700;
}
.post-card-profile-names p {
	font-size: 14px;
	color: #555555;
	font-weight: 500;
	margin-top: -2px;
}
.post-card-profile-pic {
	max-width: 35px;
	border-radius: 50%;
	position: relative;
}
.post-card-profile-pic img {
	width: 35px;
	height: 35px;
	object-fit: cover;
	object-position: 50% 50%;
	border-radius: 50%;
}
