/** @format */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.App {
	text-align: center;
	background-color: var(--light-gray-color);
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	min-width: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.loader-spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: absolute;
	left: 0;
	right: 0;
	transition: 0.3s;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);
}
.loader-spinner-hidden {
	display: none;
	align-items: center;
	justify-content: center;
	height: 100vh;
	left: -100vh;
	transition: 0.3s;
}
.three-sections-page {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "left middle right";
	/* display: flex;
	flex-direction: row; */
}
.left-column {
	grid-area: left;
	/* flex: 1;
	background-color: lightgray;
	padding: 10px; */
	background-color: var(--light-gray-color);
}
.middle-column {
	grid-area: middle;
	width: 680px;
	/* flex: 2;
	background-color: lightblue;*/
	/* padding: 10px;  */
	overflow-y: auto;
	background-color: white;
	/* margin: 10px; */
}
.middle-column::-webkit-scrollbar {
	display: none;
}
.posts-container {
	height: 100vh;
	/* padding: 20px; */
}
.right-column {
	grid-area: right;
	/* /* flex: 1; */
	background-color: var(--light-gray-color);
	padding: 10px;
}
.three-sections-page::-webkit-scrollbar {
	display: none;
}
.page-heading-name {
	border-bottom: 2px solid black;
	padding: 10px;
}
