/** @format */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.App {
	text-align: center;
	background-color: var(--light-gray-color);
}
.loader-spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: absolute;
	left: 0;
	right: 0;
	transition: 0.3s;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);
}
.loader-spinner-hidden {
	display: none;
	align-items: center;
	justify-content: center;
	height: 100vh;
	left: -100vh;
	transition: 0.3s;
}

/* Small displays*/
.three-sections-page {
	/* display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "left middle right"; */
	/* display: flex;
	flex-direction: row; */
}
.left-column {
	display: none;
	/* grid-area: left;
	/* flex: 1;
	background-color: lightgray;
	padding: 10px; */
	/* background-color: var(--light-gray-color);  */
}
.middle-column {
	/* grid-area: middle; */
	width: 100%;
	/* flex: 2;
	background-color: lightblue;*/
	padding: 10px;
	margin-bottom: 3rem;
	/* overflow-y: auto; */
	background-color: white;
	/* margin: 10px; */
}
.middle-column::-webkit-scrollbar {
	/* display: none; */
}
.posts-container {
	height: 110vh;
	/* padding: 20px; */
	margin-bottom: 2rem;
}
.right-column {
	display: none;
	/* grid-area: right; */
	/* flex: 1; */
	/* background-color: var(--light-gray-color);
	padding: 10px; */
}
.three-sections-page::-webkit-scrollbar {
	display: none;
}
.page-heading-name {
	border-bottom: 2px solid black;
	padding: 5px;
	font-size: 1.5rem;
}
.nav-for-small-displays {
	position: fixed;
	width: 100%;
	background-color: var(--light-gray-color);
	z-index: 30;
	bottom: 0px;
}
.nav-for-small-displays ul {
	padding: 20px;
	font-size: 1.5rem;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
@media screen and (min-width: 1028px) {
	.nav-for-small-displays {
		display: none;
	}
	.three-sections-page {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: "left middle right";
		/* display: flex;
		flex-direction: row; */
	}
	.left-column {
		display: block;
		grid-area: left;
		/* flex: 1;
		background-color: lightgray;
		padding: 10px; */
		background-color: var(--light-gray-color);
	}
	.middle-column {
		grid-area: middle;
		width: 680px;
		margin-bottom: 0px;
		/* flex: 2;
		background-color: lightblue;*/
		padding: 0px;
		overflow-y: auto;
		background-color: white;
		/* margin: 10px; */
	}
	.middle-column::-webkit-scrollbar {
		display: none;
	}
	.posts-container {
		height: 100vh;
		/* padding: 20px; */
		margin-bottom: 0rem;
	}
	.right-column {
		display: block;
		grid-area: right;
		/* /* flex: 1; */
		background-color: var(--light-gray-color);
		padding: 10px;
	}
	.three-sections-page::-webkit-scrollbar {
		display: none;
	}
	.page-heading-name {
		border-bottom: 2px solid black;
		padding: 10px;
		font-size: 2rem;
	}
}
