/** @format */

* {
	box-sizing: border-box;
}
.profile-page-profile-picture-container {
	width: 130px;
	height: 130px;
	/* margin: auto; */
	margin-left: 1rem;
	border-radius: 50%;
	margin-bottom: 50px;
}
.profile-page-profile-picture-container img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	object-position: 50% 50%;
}
.profile-info-section {
	position: relative;
	width: 80%;
	padding: 2rem 0 2rem 0;
	/* display: flex; */
	text-align: left;
	gap: 1rem;
	/* align-items: left; */
	/* justify-content: flex-start; */
	/* margin-left: -1rem; */
	/* border-bottom: 2px solid black; */
}
.profile-info-card {
	position: absolute;
	top: 30px;
	right: 0px;
	/* margin-bottom: rem; */
	width: 80%;
	/* margin-left: -6rem; */
	margin-right: -5rem;
}
.profile-fullname {
	font-size: 1.9rem;
	font-weight: 700;
	color: #333333;
}
.profile-username {
	font-weight: 600;
	font-size: 1.2rem;
	color: #333333;
}
.profile-bio {
	font-weight: 400;
	font-size: 1rem;
	color: #333333;
}
.profile-website {
	font-weight: 600;
	font-size: 1rem;
	color: var(--main-color);
	text-decoration: none;
}
.profile-website:hover {
	text-decoration: underline;
}
.edit-profile-button {
	position: relative;

	/* right: 130px; */
}
.edit-profile-button button {
	font-size: 1rem;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	border: none;
	background-color: var(--main-color);
	color: white;
}
.edit-profile-button button:hover {
	background-color: var(--secondary-color);
}
.user-followers-following-post-display {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 20px;
	margin: 20px 0px 20px 100px;
	background-color: var(--light-gray-color);
	border-radius: 50px;
	color: var(--secondary-color);
}
.user-followers-following-post-display ul {
	display: flex;
	gap: 1rem;
	font-size: 1rem;
}
.user-followers-following-post-display ul li:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	cursor: pointer;
}

.followers-card,
.following-card {
	position: fixed;
	z-index: 7;
	filter: blur(1);
	background-color: white;
	width: 400px;
	height: 400px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	border-radius: 20px;
	bottom: 0;
	inset: 0;
	box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.4);
	padding: 20px;
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-backdrop-filter: blur(5px);
}
.followers-card h1,
.following-card h1 {
	color: var(--secondary-color);
	padding-bottom: 20px;
	border-bottom: 2px solid var(--secondary-color);
}
.followers-card .close-options-button,
.following-card .close-options-button {
	position: absolute;
	right: 20px;
	top: 2px;
}
.followers-card .close-options-button button,
.following-card .close-options-button button {
	font-size: 2rem;
}
