/** @format */

* {
	box-sizing: border-box;
}
.profile-page-profile-picture-container {
	width: 200px;
	height: 200px;
	margin: auto;
	border-radius: 50%;
}
.profile-page-profile-picture-container img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	object-position: 50% 50%;
}
